body {
    font-family: Helvetica, Arial, sans-serif;
  }
  .container {
    padding-top: 2%;
    max-width: 800px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}
section {
  background-color: mediumspringgreen;
  font-size: 2em;
  text-align: center;
  color: #fff;
  border-radius: 15px;
}

#res {
  padding: 10%;
}

#btnCalc {
  color: #fff;
  border: none;
  background-color: transparent;
}

#btnCalc:focus {
  outline-style: none;
}

#rbtnMale, #rbtnFemale {
  display: none;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
  color: #fff;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o{
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o{
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
  color: #000;
  display: inline;
}

label:hover input[type="radio"] ~ i.fa {
  color: #000;
}

label span {
  color: #fff;
  font-size: 1.2em;
}